*.swp
*.swo
.idea
*.pyc
tags
compile_commands.json
cmake-build-*
.idea
build
.vscode
.DS_Store
/src/python/test/test_failed.json
valgrind*.xml
cppcheck.xml
cppcheck-result
*-release.tar.gz
*-buildfolder.tar.gz
/.settings/
/.cproject
/.project
/.pydevproject
/src/python/.env
